[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FRAPO"]
	path = FRAPO
	url = https://github.com/bpfaff/frapo
[submodule "QRM"]
	path = QRM
	url = https://github.com/cran/QRM
[submodule "cccp"]
	path = cccp
	url = https://github.com/bpfaff/cccp
[submodule "evir"]
	path = evir
	url = https://github.com/bpfaff/evir
[submodule "gogarch"]
	path = gogarch
	url = https://github.com/cran/gogarch
[submodule "rbtc"]
	path = rbtc
	url = https://github.com/cran/rbtc
[submodule "rneos"]
	path = rneos
	url = https://github.com/cran/rneos
[submodule "urca"]
	path = urca
	url = https://github.com/cran/urca
[submodule "vars"]
	path = vars
	url = https://github.com/cran/vars
