[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cccp"]
	path = cccp
	url = https://github.com/cran/cccp
	shallow = true
	registered = true
[submodule "evir"]
	path = evir
	url = https://github.com/bpfaff/evir
	shallow = true
	registered = true
[submodule "FRAPO"]
	path = FRAPO
	url = https://github.com/bpfaff/frapo
	shallow = true
	registered = true
[submodule "gogarch"]
	path = gogarch
	url = https://github.com/cran/gogarch
	shallow = true
	registered = true
[submodule "QRM"]
	path = QRM
	url = https://github.com/cran/QRM
	shallow = true
	registered = true
[submodule "rbtc"]
	path = rbtc
	url = https://github.com/cran/rbtc
	shallow = true
	registered = true
[submodule "rneos"]
	path = rneos
	url = https://github.com/cran/rneos
	shallow = true
	registered = true
[submodule "urca"]
	path = urca
	url = https://github.com/cran/urca
	shallow = true
	registered = true
[submodule "vars"]
	path = vars
	url = https://github.com/cran/vars
	shallow = true
	registered = true
